<template>
  <div class="bgmain">
     <div class="title">
       <img width="50%" src="../assets/images/fillinfotitle.png" alt="">
     </div>
     <div class="box">
       <div class="box-main">
         <div class="input-warrper">
            <img src="../assets/images/icon1.png" width="25px" alt="">
            <input v-reset class="input" type="text" readonly v-model="company" @click="showAirPanel()">
             <div class="up_down">
                  <img v-show="!airPanel" src="../assets/images/down.png" alt="">
                  <img v-show="airPanel"  src="../assets/images/up.png" alt="">
            </div>
            <div v-show="airPanel" class="white">
              <div class="company-item" v-for="(item,index) in companys" :key="index" @click="selecedCompany(index)">
                  <img class="radio" v-show="btnActived == index" src="../assets/images/select.png" alt="">
                  <img class="radio" v-show="btnActived != index" src="../assets/images/unselect.png" alt="">
                <button :class="{'btn-actived':btnActived == index}" >{{item}}</button>
              </div>
            </div>
         </div>
          <div class="input-warrper">
            <img src="../assets/images/icon2.png" width="25px" alt="">
            <!-- <yd-datetime class="input" type="date" v-model="time"  slot="right"></yd-datetime> -->
            <input v-reset id="dateTime" class="input" readonly type="text" placeholder="请选择出行时间" v-model="time">
             <div class="up_down">
                  <img v-show="!airPanel" src="../assets/images/down.png" alt="">
                  <img v-show="airPanel"  src="../assets/images/up.png" alt="">
              </div>
         </div>
          <div class="input-warrper">
            <img src="../assets/images/icon3.png" width="25px" alt="">
            <input v-reset v-model="orderNum" class="input" type="text" placeholder="请输入订单编号（6位）" maxlength="6">
         </div>
         <span class="eg">例如：JGD2H4</span>
       </div>
       <div class="box-bottom">
              <div class="point pos-l"></div>
              <div class="point pos-r"></div>
              <a  @click="showPop('show')">什么是订单编号？</a>
              <div class="btn gradient-g" @click="submit()">确&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;认</div>
       </div>
     </div>
      <div class="popup" v-show="isshowPop">
        <img  class="pop-main" src="../assets/images/popup.png" alt="">
        <div class="popbtn gradient-g" @click="showPop()">返&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;回</div>
     </div>
  </div>
</template>

<script>
let newTime
import {addInfo} from '@/apis'
export default {
  name: 'fillInfo',
  data(){
    return{
      airPanel:false,
      company:'请选择您的航空公司',
      companys:["东方航空","南方航空","厦门航空","中国航空"],
      btnActived:-1,
      isshowPop:false,
      time:'',
      orderNum:''
      }
  },
  mounted(){
    $("#dateTime").datetimepicker({
            locale: "zh-cn",
            // format: "YYYY-MM-DD a hh:mm", //带时间格式
            format:"YYYY-MM-DD",
            dayViewHeaderFormat: "YYYY 年 MMMM",
            showTodayButton:true,// 回到今天button
            showClose:true,//确认button
            ignoreReadonly:true,//忽略只读
            keepOpen:true
        });
     newTime = this.$moment(new Date()).format("YYYY-MM-DD") //初始化
     this.signInfo = JSON.parse(localStorage.getItem('signInfo'))
  },
  methods:{
    showAirPanel(){
      if(this.btnActived == -1){
          this.btnActived = 0
          this.company = "东方航空"
      }
      this.airPanel = this.airPanel ? false : true
    },
    selecedCompany(ind){
        this.btnActived = ind
        this.company = this.companys[ind]
        this.airPanel = false
        this.checkTime()
    },
    showPop(flag){
      this.checkTime()
      if(flag == 'show'){
        _smq.push(['custom','Jewel wave 2 enroll','main page','what_is_reference']);
      }
      this.isshowPop = flag == 'show' ? true : false;
    },
    checkTime(){
      //出现遮罩层选中的时间会被清空 ，没找到原因。。。暂时解决
       if(document.getElementById('dateTime').value != ''){
         newTime = document.getElementById('dateTime').value
      }
      this.time = newTime
    },
    submit(){
      if(document.getElementById('dateTime').value != ''){
         this.time = document.getElementById('dateTime').value
      }
      if(this.company  == '请选择您的航空公司' || this.company  == null  || this.company == ''){
        this.$dialog.toast({
            mes: '请选择您的航空公司',
            timeout: 1500
        });
      }else if(this.time  == '' || this.time  == null){
        this.$dialog.toast({
            mes: '请选择您的出行时间',
            timeout: 1500
        });
      }else if(this.orderNum  == '' || this.orderNum  == null || this.orderNum.length != 6){
        this.$dialog.toast({
            mes: '订单编号输入有误请重新输入',
            timeout: 1500
        });
      }else{
        _smq.push(['custom','Jewel wave 2 enroll','main page','submit_now']);
        this.signInfo.airlineCompany = this.company;
        this.signInfo.travelTime = this.time;
        this.signInfo.orderNumber = this.orderNum;
        this.$dialog.loading.open();
         addInfo(this.signInfo)
           .then(res=>{
            this.$dialog.loading.close();
            console.log(res)
            if(res.data.Status){
                this.$router.push('/success/yes')
            }
          })
          .catch(err =>{
            this.$dialog.loading.close();
              this.$dialog.toast({
                  mes: '哎呀，服务器开小差了',
                  timeout: 1500
              });
          })
      }
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="less">
  .bgmain{
    height: 100%;
    background: url("../assets/images/bg1.jpg") top;
    background-size: cover;
    .title{
      img{
        margin-top: 1.3rem;
        margin-bottom: 0.5rem;
      }
    }
  }
  .popup{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0,0,0,0.9);
    .pop-main{
      position: absolute;
      top: 50%;
      left: 0;
      right: 0;
      transform: translateY(-55%);
    }
    .popbtn{
         width: 70%;
          height: 1rem;
          position: absolute;
          left: 15%;
          bottom:.5rem;
          border-radius: 1rem;
          font-size: .40rem;
          // letter-spacing: .4rem;
          display: flex;
          justify-content: center;
          align-items: center;
    }
  }
  
  .eg{
    font-size: .28rem;
    line-height: .6rem;
    color: #7b7b7b;
    margin-left: 15px;
  }
  .white{
      width: 110%;
      background: #ffffff;
      position: absolute;
      top: 0.8rem;
      left: -5%;
      right: 0;
      z-index: 2;
      padding: 0.1rem 1.25rem;
      .company-item{
            display: flex;
            align-items: center;
            margin-top: .25rem;
          .radio{
            width: 15px;
            height: 15px;
            margin-right: .2rem;
          }
         button{
          width: 70%;
          border: 1px #7f7f7f solid;
          color: #7f7f7f;
          background: #ffffff;
          line-height: .5rem;
          border-radius: .3rem;
          text-align: center;
         }
      }
  }
  .box{
      width: 100%;
      height: 7.2rem;
      background: #ffffff;
      border-radius: 0.3rem;
      position: fixed;
      // bottom: 1.6rem;
      left: 0;
      right: 0;
      padding: 0.1rem 1rem;
      .box-main{
        .input-warrper{
          width: 100%;
          height: 0.8rem;
          border-radius: 0.8rem;
          border: 1px #dfdfdf solid;
          background: #eeeeee;
          display: flex;
          align-items: center;
          position: relative;
          padding: 0 0.3rem;
          margin-top: .6rem;  
          .input{
            width: 100%;
            height: 100%;
            border: none;
            padding-left: 10px;
            color: #222;
            // font-weight: 600!important;
            display: flex;
            align-items: center;
          }
          .up_down{
            position: absolute;
            bottom: 0.25rem;
            right: 0.4rem;
            img{
              width: 8px;
              z-index: -1;
            }
          }
        }

      }
      .box-bottom{
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        height: 2.2rem;
        border-top: 1px #848484 dashed;
        text-align: center;
        .pos-l{
          position: absolute;
          top: 0;
          left: 0;
          transform: translate(-50%,-50%)
        }
        .pos-r{
          position: absolute;
          top: 0;
          right: 0;
           transform: translate(50%,-50%)
        }
        .btn{
          width: 70%;
          height: 1rem;
          margin:  0 auto;
          border-radius: 1rem;
          font-size: .40rem;
          // letter-spacing: .4rem;
          display: flex;
          justify-content: center;
          align-items: center;
        }
        a{
            font-size: .32rem;
            font-weight: 700;
            color: #3eb089;
            line-height: 1rem;
            border-bottom: 1px solid #3eb089;
        }
      }
  }
</style>
