<template>
  <div class="bgmain">
     <div class="title">
        <img width="70%" src="../assets/images/title.png" alt="">
     </div>
     <div class="form-header fixedheader">
       <span>在南航、东航、国航、厦航成功订票<br/>获奖机会<span class="c-g f-16">秒翻10倍!</span></span>
         <div class="pointPanl">
              <div class="point pos-l"></div>
             <div class="point pos-r"></div>
          </div>
     </div>
     <white-pannel>
        <span slot="title">在南航、东航、国航、厦航成功订票<br/>获奖机会<span class="c-g f-16">秒翻10倍!</span></span>
         <div slot="container" >
          <div class="form-middle">
            <div class="input-container">
              <p>姓名</p>
              <input v-reset v-model="signInfo.name" type="text" placeholder="请输入您的姓名">
            </div>
            <div class="input-container">
              <p>手机</p>
              <input v-reset v-model="signInfo.mobile" type="tel" maxlength="11" placeholder="请输入您的手机号码">
            </div>
            <div class="input-container">
              <p>邮箱</p>
              <input v-reset v-model="signInfo.email" type="email" placeholder="例如：xxx@xxx.com">
            </div>
            <div class="input-container">
              <p>出发城市</p>
            </div>
            <div class="city-container">
              <div v-for="(item,index) in hotCity" :key="index">
                  <button :class="{'btn-actived':btnActived == index}" @click="selecedCity(index)">{{item}}</button>
              </div>
            </div>
            <div class="input-container">
              <div style="height:25px;" v-show="!showInput"></div>
                <input v-reset v-show="showInput" v-model="signInfo.startingCity" type="text"  placeholder="请输入您的出发地">
            </div>
          </div>
          <div class="form-bottom">
                <button class="btn-l gradient-r" @click="fillInfo()">已有机票<br/>快去翻倍</button>
                <button class="btn-r gradient-g" @click="signUp()">立即报名</button>
          </div>
        </div>
     </white-pannel>
  </div>
</template>

<script>
import {addInfo} from '@/apis'
import whitePannel from '@/base/whitePannel'
let phoneTest= /^1[3456789]\d{9}$/  //手机号正则表达式
let emailTest = /^[A-Za-z\d]+([-_.][A-Za-z\d]+)*@([A-Za-z\d]+[-.])+[A-Za-z\d]{2,4}$/ //邮箱正则表达式
export default {
  name: 'signUp',
  components:{
    whitePannel
  },
  mounted(){
    console.log(window.innerHeight)
  },
  data () {
    return {
      showInput:false,
      hotCity:["北京","上海","广州","厦门","其他"],
      btnActived:0,
      signInfo:{
        name:'',//姓名
        mobile:'',//手机号码
        email:'',//邮箱
        startingCity:'北京',//出发城市
        ticketsState:0,//入口：0无机票报名  1已有机票翻倍
        airlineCompany:'',//航空公司
        travelTime:'',//出行时间
        orderNumber:''//订单编号
      }
    }
  },
  methods:{
    //选中城市button
    selecedCity(ind){
      this.btnActived = ind
      if(ind != this.hotCity.length - 1){
          this.signInfo.startingCity = this.hotCity[ind];
          this.showInput = false;
      }else{
        this.signInfo.startingCity = ''
          this.showInput = true;
      }
    },
    // 立即报名
    signUp(){   
      this.checkInfo(()=>{
        _smq.push(['custom','Jewel wave 2 enroll','main page','participates']);
         localStorage.setItem('fromCity',this.signInfo.startingCity)
         this.$dialog.loading.open();
          addInfo(this.signInfo)
          .then(res=>{
            this.$dialog.loading.close();
            if(res.data.Status){
                this.$router.push('/success/no')
            }
          })
           .catch(err =>{
            this.$dialog.loading.close();
              this.$dialog.toast({
                  mes: '哎呀，服务器开小差了',
                  timeout: 1500
              });
          })
      })  
      
    },
    // 已有机票快去翻倍
    fillInfo(){
       this.checkInfo(()=>{
        _smq.push(['custom','Jewel wave 2 enroll','main page','valid_participates']);
        this.signInfo.ticketsState = 1
        localStorage.setItem('fromCity',this.signInfo.startingCity)
        localStorage.setItem('signInfo',JSON.stringify(this.signInfo))
        this.$router.push('/fillinfo')
      })  
    

    },
    checkInfo(callback){
        if(this.signInfo.name == '' || this.signInfo.name == null){
          this.$dialog.toast({
              mes: '请输入您的姓名',
              timeout: 1500
          });
        }else if(!phoneTest.test(this.signInfo.mobile)){
          this.$dialog.toast({
              mes: '请正确输入您的手机号码',
              timeout: 1500
          });
        }else if(!emailTest.test(this.signInfo.email)){
          this.$dialog.toast({
              mes: '请正确输入您的邮箱',
              timeout: 1500
          });
        }else if(this.signInfo.startingCity == '' || this.signInfo.startingCity == null ){
          this.$dialog.toast({
              mes: '请选择您的出发城市',
              timeout: 1500
          });
        }else{
              callback()
        }
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="less">
.fixedheader{
    position: fixed;
    top: 3.3rem;
    z-index: 1;
    left: 0;
    right: 0;
    background: #ffffff;
    border-radius: .4rem .4rem 0 0;
}
  .bgmain{
    width: 100%;
    height: 100%;
    overflow: scroll;
    // background: url("../assets/images/bgmain.jpg") top;
    background: url("../assets/images/bg.jpg") top;
    background-size: cover;
    .title{
        padding-top: 1.3rem;
    }
  }

  .form-middle{
      padding: 0 1.2rem;
      .input-container{
        margin-bottom: 13px;
        position: relative;
        p{
          color: #222;
          font-weight: 700;
        }
        input{
          width: 100%;
          border: none;
          border-bottom: 1px solid #d5d5d5;
          line-height: 24px;
          font-size: 14px;
        }
        
      }
  }
    .form-bottom{
      width: 100%;
      overflow: hidden;
      margin-top: 25px;
      margin-bottom: 20px;
      display: flex;
    .btn-l{
      width: 50%;
      height: 50px;
      border-radius: 50px;
      text-align: right;
      transform: translate(-25%)
    }
    .btn-r{
      width: 50%;
      height: 50px;
      border-radius: 50px;
      text-align: left;
      transform: translate(25%);
    }
  }
  .city-container{
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;
    margin-top: -5px;
    div{
      width: 18%;
      button{
        width: 100%;
        border: 1px #7f7f7f solid;
        color: #7f7f7f;
        background: #ffffff;
        border-radius: .3rem;
        text-align: center;
        padding: 2px 0;
      }
    }
  }
 
</style>
