<template>
  <div class="bgmain">
     <div class="title">
       <img v-if="haveTicket == 'no' " width="35%" src="../assets/images/noticket.png" alt="">
       <img v-if="haveTicket == 'yes'" width="60%" src="../assets/images/haveticket.png" alt="">
     </div>
      <div class="form-container">
             <div class="f-14 wtitle">
              即刻获得<span class="c-g f-16 fw-b">「奇遇之星」</span>大奖领取资格<br/>8月27日，官方微信将公布完整获奖名单<br/>敬请期待别走开
              <div class="pointPanl">
                  <div class="point pos-l"></div>
                  <div class="point pos-r"></div>
              </div>
            </div>
          <div class="qrcontainer">
              <img src="../assets/images/qr.png" alt="">
              <a href="http://cn.changiairport.com/jewel-wave2-tc.html" class="whyspan">本活动受条款条例约束</a>
              <a  @click="goHref()" v-if="haveTicket == 'no' " class="gradient-g btn-go">去{{btnMsg}}订票，机会翻倍</a>
          </div>
      </div>
  </div>
</template>

<script>
export default {
  name: 'signUp',
  components:{
  },
  data(){
    return{
      haveTicket:'',
      btnMsg:'国航',
      fromCity:localStorage.getItem('fromCity')
    } 
  },
  mounted(){

    if(this.fromCity == '上海'){
      this.btnMsg = '东航'
      // this.goURL = 'https://m.ceair.com/'
    }else if(this.fromCity == '广州'){
      this.btnMsg = '南航'
      // this.goURL = 'https://m.csair.com/booking_new/'
    }else if(this.fromCity == '厦门'){
      this.btnMsg = '厦航'
      // this.goURL = 'https://www.xiamenair.com/zh-cn/nticket.html'
    }else{
      this.btnMsg = '国航'
      // this.goURL = 'https://m.airchina.com.cn/ac/c/invoke/qryFlights@pg'
    }
    this.haveTicket = this.$route.params.haveTicket
  },
  methods:{
    goHref(){
      if(this.fromCity == '上海'){
        _smq.push(['custom','Jewel wave 2 enroll','main page','link out_Eastern_Airlines']);
        window.location = 'https://m.ceair.com/'
      }else if(this.fromCity == '广州'){
        _smq.push(['custom','Jewel wave 2 enroll','main page','link out_Southern_Airlines']);
        window.location = 'https://m.csair.com/booking_new/'
      }else if(this.fromCity == '厦门'){
        _smq.push(['custom','Jewel wave 2 enroll','main page','link out_Xiamen_Airlines']);
        window.location = 'https://www.xiamenair.com/zh-cn/nticket.html'
      }else{
        _smq.push(['custom','Jewel wave 2 enroll','main page','link out_Airchina_Airlines'])
        window.location = 'https://m.airchina.com.cn/ac/c/invoke/qryFlights@pg'
      }
    }
  },
  watch:{
    
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="less">
  .bgmain{
    height: 100%;
    background: url("../assets/images/bg1.jpg") top;
    background-size: cover;
    .title{
      padding-top: 0.9rem;
    }
  }
  .wtitle{
    width: 100%;
    text-align: center;
    height: 1rem;
    position: relative;
    margin-top: 0.4rem;
    .pointPanl{
          width: 100%;
          height: 40px;
          overflow: hidden;
          position: absolute;
          bottom: -20px;
          display: flex;
          justify-content: space-between;
          .pos-l{
            // position: absolute;
            // left: 0;
            // bottom: 0;
            transform: translate(-50%;50%)
          }
          .pos-r{
            // position: absolute;
            // right: 0;
            // bottom: 0;
            transform: translate(50%;50%)
          }
        }
    // .pos-l{
    //   position: absolute;
    //   left: -10px;
    //   bottom:  -10px;
    // }
    // .pos-r{
    //   position: absolute;
    //   right:  -10px;
    //   bottom:  -10px;
    // }
  }
  .qrcontainer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 0.6rem;
    img{
        width: 50%
    }
    .whyspan{
      margin-top: 10px;
      font-size: 12px;
      line-height: 20px;
      color: #666;
      border-bottom: 1px solid #666;
    }
    .btn-go{
        height: 1rem;
        border-radius: 1rem;
        margin-top: 0.3rem;
        display: flex;
        align-items: center;
    }
  }
</style>
