<template>
  <div id="app">
     <!-- <transition name="fade" mode="out-in"> -->
      <router-view></router-view>
    <!-- </transition> -->
  </div>
</template>

<script>
export default {
  name: 'App'
}
</script>

<style lang="less">
    // .fade-enter {
    //     opacity: 0.2;
    // }
    
    // .fade-leave {
    //     opacity: 1;
    // }
    
    // .fade-enter-active {
    //     transition: opacity .3s;
    // }
    
    // .fade-leave-active {
    //     opacity: 0.2;
    //     transition: opacity .3s;
    // }
  //禁止用户点图片放大
  // img{pointer-events: none;}

  // iphone6 554
  
  * {
        padding: 0;
        margin: 0;
    }
    /* 去除选中后的外边框 */
    input,button,a {
        outline: none;
    }
    #app{
      height: 100%;
      // background: #999;
    }
    .gradient-g{
      // min-height: .8rem;
      // border-radius: 0.4rem;
      border: none;
      color: #ffffff;
      font-size: 0.28rem;
      padding: 0.05rem 1rem;
      font-weight: 700;
      background: #acd352;  /* fallback for old browsers */
      background: -webkit-linear-gradient(to right, #acd352, #369d8b);  /* Chrome 10-25, Safari 5.1-6 */
      background: linear-gradient(to right, #acd352, #369d8b); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    }
    .gradient-r{
      // margin-left: -25%;
      // height: 1rem;
      // min-width: 5rem;
      // border-radius: 0.5rem;
      border: none;
      color: #ffffff;
      font-size: 0.28rem;
      padding: 0.05rem 1rem;
      font-weight: 700;
      background: #fb818a;  /* fallback for old browsers */
      background: -webkit-linear-gradient(to right, #fb818a,#fb818a, #f0a07e);  /* Chrome 10-25, Safari 5.1-6 */
      background: linear-gradient(to right, #fb818a,#fb818a, #f0a07e); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    }

    .title{
       text-align: center;
        // padding-top: 18%;
    }

    .form-container{
    // height: 9.1rem;
    box-sizing: border-box;
    position: fixed;
    top: 3.3rem;
    bottom: 0;
    left: 0;
    right: 0;
    border-radius: .4rem .4rem 0 0;
    background: url("./assets/images/bgbox.jpg") bottom;
    background-size: cover;
    overflow: scroll;
  }
.form-header{
        position: relative;
        color: #848484;
        font-weight: 700;
        text-align: center;
        border-bottom: 1px #848484 dashed;
        padding: 15px 0;
        margin-bottom: 15px;
        .pointPanl{
          width: 100%;
          height: 40px;
          overflow: hidden;
          position: absolute;
          bottom: -20px;
          display: flex;
          justify-content: space-between;
          .pos-l{
            // position: absolute;
            // left: 0;
            // bottom: 0;
            transform: translate(-50%;50%)
          }
          .pos-r{
            // position: absolute;
            // right: 0;
            // bottom: 0;
            transform: translate(50%;50%)
          }
        }
       
    }


     .btn-actived{
      border: 1px #ed8c6c solid!important;
      color: #ed8c6c!important;
      background: #feefea!important;
    }

    .c-g{
      color: #3baf8b;
    }
    .f-14{font-size: .28rem;}
    .f-16{
      font-size: .32rem
    }
    .fw-b{font-weight: 700}

     
      .point{
        width: 20px;
        height: 20px;
        background: #222;
        border-radius: 50%;
      }


    .fadeIn{
      animation: fadeIn 500ms linear;
      animation-fill-mode: forwards;
    }
    .fadeOut{

      animation: fadeOut 100ms linear;
      animation-fill-mode: forwards;
    }

     /* 淡现 */
    @-webkit-keyframes fadeIn {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }
    
    @keyframes fadeIn {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }
     /* 淡出 */
    @-webkit-keyframes fadeOut {
        0% {
            opacity: 1;
        }
        100% {
            opacity: 0;
        }
    }
    
    @keyframes fadeOut {
        0% {
            opacity: 1;
        }
        100% {
            opacity: 0;
        }
    }
</style>
