<template>
   <div class="form-container">
        <div class="form-header">
          <slot name="title"></slot>
          <div class="pointPanl">
              <div class="point pos-l"></div>
             <div class="point pos-r"></div>
          </div>
        </div>
        <slot name="container"></slot>
      </div>
</template>

<script>
export default {

}
</script>

<style lang="less">

</style>
